{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-transform-runtime",
		"@babel/plugin-transform-modules-commonjs",
		"@babel/plugin-proposal-object-rest-spread",
		"babel-plugin-styled-components",
		"@babel/plugin-proposal-optional-chaining",
		[
			"module-resolver",
			{
				"root": [
					"./"
				],
				"alias": {
					"components": "./client/components",
					"client": "./client",
					"server": "./server"
				}
			}
		]
	]
}