BASE_URL=#
CORS_ORIGIN=# not required if same as BASE_URL
NODE_ENV=# environment (e.g. development)
PORT=# server port (e.g. 5000)
MONGO_URI=# db connection (e.g. mongodb://<username>:<password>@<host>:<port>/<db>
SECRET_OR_KEY=# JWT secret
EXPIRE_PASSWORD_RESET_DAYS=# days for password reset requests to expire in
APP_NAME=#

MAIL_HOST=#
MAIL_PORT=#
MAIL_FROM=#
MAIL_USERNAME=#
MAIL_PASSWORD=#